@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*-----------------  GLOBAL TWEAK --------------------*/
body{
    margin: 0;
    background-image: url("../assets/background.png");
    background-position: center;
    background-repeat: repeat;
}
*{
    color: #303030;
    font-family: 'Rubik', sans-serif;
    font-weight: 550;
    -webkit-font-smoothing: antialiased;
}

/*-----------------  TWEAK index.js --------------------*/

h1, h2{
    text-align: center;
    padding: 30px;
}
h1{
    font-weight: bolder;
    font-size: xx-large;
}
h2 strong{
    font-weight: bolder;
}
#category-list-container{
    background: #e4efff;
    width: 800px;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 30px;
}

#category-list-container ul{
    margin: 10px 40px;
    padding: 0;
}
