@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

/*-----------------  GLOBAL TWEAK --------------------*/
body {
    margin: 0;
}

* {
    color: #303030;
    font-family: 'Rubik', sans-serif;
    font-weight: 550;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

main {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

/*-----------------  TWEAK index.jsx --------------------*/

.MuiAutocomplete-root .MuiAutocomplete-hasClearIcon {
    width: 800px;
}

.MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"], .MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding-right: 39px;
    border-radius: 10px;
}

.titleIndex, .subtitleIndex {
    text-align: center;
}

.subtitleIndex {
    padding: 15px;
    font-weight: 200;

}

.titleIndex {
    font-weight: bold;
    padding-bottom: 15px;
    font-size: xxx-large;
    margin-top: 0;
    margin-bottom: 10px;
}

.subtitleIndex strong {
    font-weight: 800;
}

.searchContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#category-list-container {
    background: #e4efff;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 50px;
    padding: 20px;
    flex-direction: row;
    max-width: 1200px;
}

#category-list-container ul {
    margin: 20px;
    padding: 0;
    width: 350px;
    overflow: hidden;
}

.categoryTitle {
    font-weight: bold;
}

.articleLink {
    font-weight: 300;
    list-style: none;
    font-size: large;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*-----------------  TWEAK article.jsx --------------------*/
.articleContentContainer {
    padding: 50px;
    display: flex;
}