.adminHomeContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.modifyContainer, .createContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    min-height: 70vh;
    width: 500px;
    margin: 20px;
}

.createArticle, .createCategory , .modifyArticle, .modifyCategory {
    border: 1px solid #898989;
    border-radius: 10px;
    min-height: 200px;
    margin: 30px;
    padding: 10px;
    width: 400px;
}
.createArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.infoText{
    color: #828282;
    text-align: center;
}


.createCategory, .modifyArticle, .modifyCategory{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.titleContainer {
    width: 100%;
    text-align: center;
}

.title{
    color: #3F8BFF;
    font-size: x-large;
}

